body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px;
  background-color: burlywood;
  background-image: url(images/nnn.jpg);
}

img {
  width: 100px
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}

.animal {
  width: 200px;
  padding: 30px;
  background-color: gainsboro
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 80px;
  color: #eee;
  background-color: rgb(0, 0, 0);
  width: 300px;
  justify-self: center;
  padding: 30px;
}